.card-header
{
    background-color: rgb(30, 178, 178);
}

#btn-1-carousel
{
    position: relative;
}

.btn btn-info
{
    padding-right: 100px;
}
.login-home
{
    margin-left: 20px;
}
.signup-home
{
    margin-left: 1020px;
}
#green
{
    color: #ffffff;
    text-decoration: none;
}
#green1
{
    color: #ffffff;
    text-decoration: none;
}