#rating {
    color: orange;
}

.card-header {
    background-color: rgb(30, 178, 178);
}

#btn-1-carousel {
    position: relative;
}

.btn btn-info {
    padding-right: 100px;
}

.login-home {

    align-items: flex-end;
    margin-left: 10px;
}

.signup-home {
    align-items: flex-end;
    margin-left: 135vh;
}

.navbar .navbar-nav .nav-item a {
    padding: 15px;
}

.navbar .navbar-nav .nav-but {
    padding: 5px;
}

.merge {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 27%;
    display: flex;
    flex-direction: row;
}

.searchBox {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
}

.searchContainer {
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 0;
}

.dropDown {
    width: 99%;
    background-color: white;
    /* display: flex; */
    /* flex-direction: column; */
    /* border: 1px solid gray; */
    margin-top: 5px;
    /* width: 300px; */
    /* height: 200px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

.dropDown:empty {
    border: none;
}

.dropDownRow {
    cursor: pointer;
    text-align: start;
    padding: 5px;
}

.dropDownRow:hover {
    background-color: lightgray;
}

input {
    height: 50px;
    width: 20vw;
}

.searchInner {
    display: flex;
}

#inp {
    padding-left: 10px;
}

#but {
    height: 50px;
    border-radius: 1px;
}

.flex-container {
    display: flex;

}

.flex-child {
    flex: 1;
    border: 2px solid black;
    margin: 10px;
    padding: 20px;
}

.flex-child:first-child {
    text-align: center;
}

.search-bar-container {
    position: relative;
    width: 300px;
}

.search-bar-container input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-results {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
    border-radius: 4px;
    overflow-y: auto;
    max-height: 200px;
    z-index: 10;
}

.search-results li {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.search-results li:hover {
    background-color: #f2f2f2;
}


/* how we operate timeline */

/* The actual timeline (the vertical ruler) */
.main-timeline {
    position: relative;
}

/* The actual timeline (the vertical ruler) */
.main-timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: purple;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.timeline {
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.timeline::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: white;
    border: 5px solid purple;
    top: 60px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.timeline-left {
    padding: 0px 40px 20px 0px;
    left: 0;
}

/* Place the container to the right */
.timeline-right {
    padding: 0px 0px 20px 40px;
    left: 50%;
}

/* Fix the circle for containers on the right side */
.timeline-right::after {
    left: -12px;
}

/* FAQ */

.question {
    display: flex;
    justify-content: space-between;

}

.icons {
    display: flex;
}

.whyus {
    margin-top: 20px;
}

@media (max-width:1200px) {
    .moverImage {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}